<header>
  <div class="home-header">
    <%= image_tag 'taskyrelay.jpg', class: "logo" %>
    <div class="header-content">
      <% if user_signed_in? %>
        <div><%= link_to "ログイン", new_user_session_path %></div>
      <% else %>
        <div><%= link_to "新規登録はこちらから", new_user_registration_path %></div>
      <% end %>
    </div>
  </div>
</header>
<div class="top-content">
  <div class="kaigo">
    <%= image_tag 'top-image.jpg', class: "kaigo-image" %>
    <div class="kaigo-items">
      <div class="kaigo-text">
        <div class="kaigo-text-main">TaskyRelayは、<br>介護業界向けの新しいタスク管理と申し送りアプリ</div>
        <div class="kaigo-text-sub">タスクと申し送り、一緒に管理。</div>
        <div class="kaigo-text-subsub">タスキーリレーは、介護職員のための日々のタスクと申し送りを一元化して管理するのをお手伝いをします。</div>
      </div>
    </div>
  </div>

  <div class="mid-con">
    <div class="circle-orange"></div>
      <div class="mid-con-items">
        <div class="kaigo-text">
          <div class="kaigo-text-main">特徴</div>
          <div class="kaigo-text-list">1. 日付ごとのタスクと申し送りの一元管理</div>
          <div class="kaigo-text-subsub">カレンダーに結びついた形式で、日々のタスクと申し送りを一覧表示。忙しい毎日でも、仕事をスムーズに進めることが可能です。</div>
          <div class="kaigo-text-list">2. 申し送りとタスク管理、一緒に表示</div>
          <div class="kaigo-text-subsub">申し送りとタスクが同一の画面に。複数の画面を行き来することなく、一目で全ての情報を確認できます。</div>
        </div>
    </div>
  </div>

  <div class="bot-con">
    <div class="circle"></div>
      <div class="bot-con-items">
        <div class="kaigo-text">
          <div class="kaigo-text-list">タスキーリレーが解決します。</div>
          <div class="kaigo-text-subsub">業務に追われタスクを忘れることはありません。日々のタスクを確認・管理することができます。</div>
        </div>
    </div>
  </div>

  <footer>
    <div>
      さぁ、タスキーリレーと一緒に安心、安全なケアを提供しましょう。
    </div>
  </footer>

</div>
