<%= form_with url: search_index_path, method: :get, local: true, id:"form"  do |f| %>
  <%= f.text_field :q, placeholder: '申し送りとタスクを検索' %>
  <%= f.submit "検索", id:"submit" %>
<% end %>

<div id="wrapper-container">
</div>
