@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho:wght@700&display=swap');

/* タイトル */
h1 {
  text-align: center;
  margin-bottom: 40px;
}
h2 {
  padding: 10px 0 0 20px;
  font-size: 40px;
  font-family: 'Zen Kurenaido', sans-serif;
  text-align: center;
  font-weight: bold;
}

.hello-name {
  margin-left: 20px;
}

/* フォーム */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-control {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.actions {
  text-align: center;
  width: 100%;
}

/* リンク */
.link {
  color: #007bff;
  text-decoration: none;
  text-align: center;
}

/* ボタン */
.btn {
  margin-top: 20px;
  padding: 8px 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

/* チェックボックス */
#check {
  margin-top: 5px;
}

/* unit画面 */
.unit {
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit-back {
  background-color: #A2D7DD;
  width: 80%;
  height: 30px;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.unit-name { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-link {
  align-items: center;
  color: #007bff;
  text-decoration: none;
}

.bottom-link {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

/* home */
.home-header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  color: #100f0f;
  box-shadow: 0 1px 5px rgba(216, 215, 215, 0.9);
  margin-bottom: 4px;
}

.logo{
  width: 192px;
  height: 90px;
  object-fit: contain;
}

.header-content{
  display: flex;
}

.corp-name{
  text-decoration: underline #6CCCE4;
}

h1.corp-link a {
  margin-right: 20px;
  text-decoration: none;
  color: #100f0f;
  text-decoration: underline #FFBB1E;
}


.main-content {
  height: calc(100vh - 90px);
  display: flex;
  background-color: #ffffff;
}

.home-date {
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: #e7e6e6;
  margin: 10px 0;
  padding-top: 10px;
  border-radius: 0 10px 10px 0;
}

.home-message {
  width: 590px;
  border-radius: 20px;
  margin: 10px;

}

.home-task {
  width: 590px;
  border-radius: 20px;
  margin: 10px;
}

.home-content-title {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* event_date */
.date-search {
  margin-bottom: 10px;
  text-align: center;
}

.date-btn {
  float: right;
  width: 30%;
  margin: 5px 10px 0 0;
}

.date-font {
  margin-bottom: 5px;
  text-align: center;
  color :#100f0f;
}

.date-content {
  flex: 1;
  height: calc(100% - 123.148px);
  overflow-y: auto;
  margin-bottom: 10px;
}


/* message */
.message-content {
  flex: 1;
  height: calc(100% - 90.594px);
  overflow-y: auto;
  margin: 10px 10px;
}

.message-form-content{
  display: flex;
  margin: 0 10px;
  width: 590px;

}

.message-form-left {
  width: 50%;
}

.message-form-right {
  width: 50%;
  margin-right: 20px;
}

.message-form, 
.message-date {
  margin-bottom: 10px;
}

.message-btn {
  float: right;
  width: 30%;
}

.moushiokuri {
  border-radius: 5px;
  border: solid 2px #e7e6e6;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.moushiokuri-title{
  color: #100f0f;
  background-color: #FFBB1E;
  padding: 2px 10px 2px 10px;
  border-radius: 3px 3px 0 0;
}

.moushiokuri-text{
  padding: 5px 3px 10px 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.moushiokuri-image {
  display: flex;
  justify-content: center;
}

.message-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.moushiokuri-under {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

.moushiokuri-link {
  text-decoration: none;
  color:white;
  background-color: #6CCCE4;
  padding: 5px;
  border-radius: 5px;
}

.message-edit-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 79.677px);
  width: 100vw;
  
}

/* task */
.task-content {
  flex: 1;
  height: calc(100% - 90.594px);
  margin: 10px 10px;
}

.task-form-content{
  display: flex;
  margin: 0 10px;
  width: 590px;
}

.task-form-left {
  width: 50%;
}

.task-form-right {
  width: 50%;
  margin-right: 30px;
}

.task-form, 
.task-date {
  margin-bottom: 10px;
}

.task-btn {
  float: right;
  width: 30%;
}

.non-comp {
  height: 49%;
  border: solid 2px #e7e6e6;
  border-radius: 5px;
  overflow-y: auto;
}

.comp {
  margin-top: 11.77px;
  height: 49%;
  border: solid 2px #e7e6e6;
  border-radius: 5px;
  overflow-y: auto;
}

.comp-title {
  color: #100f0f;
  background-color: #FFBB1E;
  padding: 2px 10px 2px 10px;
  border-radius: 3px 3px 0 0;
}

.not-comp, .complete{
  margin-right: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 15px;
}
.not-comp form,
.complete form {
  display: inline;
}
.comp-text{
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-text {
  padding: 5px 3px 10px 5px;
}

.task-under{
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

.task-edit-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 79.677px);
  width: 100vw;
  
}
