@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho:wght@700&display=swap');

/* タイトル */
h1 {
  text-align: center;
  margin-bottom: 40px;
}
h2 {
  padding: 10px 0 0 20px;
  font-size: 40px;
  font-family: 'Zen Kurenaido', sans-serif;
  text-align: center;
  font-weight: bold;
}

.hello-name {
  margin-left: 20px;
}

/* フォーム */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-control {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.actions {
  text-align: center;
  width: 100%;
}

/* リンク */
.link {
  color: #007bff;
  text-decoration: none;
  text-align: center;
}

/* ボタン */
.btn {
  margin-top: 20px;
  padding: 8px 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

/* チェックボックス */
#check {
  margin-top: 5px;
}

/* unit画面 */
.unit {
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit-back {
  background-color: #A2D7DD;
  width: 80%;
  height: 30px;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.unit-name { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-link {
  align-items: center;
  color: #007bff;
  text-decoration: none;
}

.bottom-link {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

/* home */
.home-header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #5AB5B2;
}
.main-content {
  height: calc(100vh - 79.67px);
  background-color: #7EBEAB;
  display: flex;
}

.home-date {
  display: flex;
  flex-direction: column;
  width: 260px;
  
  min-height: 260px;
  background-color: aqua;
  border-radius: 20px;
  margin: 10px;
}

.home-message {
  width: 590px;
  border-radius: 20px;
  margin: 10px;
  background-color: aquamarine;
}

.home-task {
  width: 590px;
  border-radius: 20px;
  margin: 10px;
  background-color: bisque;
}

.home-content-title {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* event_date */
.date-search {
  margin-bottom: 10px;
  text-align: center;
}

.date-font {
  margin-bottom: 5px;
  text-align: center;
  
}

.date-content {
  flex: 1;
  height: calc(100% - 123.148px);
  overflow-y: auto;
  margin-bottom: 10px;
}


/* message */
.message-content {
  flex: 1;
  height: calc(100% - 181.95px);
  overflow-y: auto;
  margin: 10px 10px;
}

.message-form-content{
  display: flex;
  margin: 0 10px;
  width: 590px;
}

.message-form-left {
  width: 50%;
}

.message-form-right {
  width: 50%;
  margin-right: 20px;
}

.message-form, 
.message-date {
  margin-bottom: 10px;
}

.message-btn {
  float: right;
  width: 30%;
}

.message-image {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.meesage-edit-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 79.677px);
  width: 100vw;
  
}

/* task */