/* ヘッダー */
.top-header{
  display: flex;
  align-items: center;
}

.left-header-name a{
  margin-right: 20px;
  text-decoration: none;
  color: #100f0f;
  text-decoration: underline #FFBB1E;
  font-size: 40px;
}

.left-header a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 20px;
  background-color: #FFBB1E;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #E6A000;
}

.right-header a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 20px;
  background-color: #FFBB1E;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #E6A000;
}
.left-header:hover a {
  background-color: #FFDD4F;
  border: 1px solid #FFBB1E;
}

.right-header:hover a {
  background-color: #FFDD4F;
  border: 1px solid #FFBB1E;
}